Flask==1.1.2
Flask-SQLAlchemy==2.4.4
gunicorn==20.0.4
html5lib==1.1
itsdangerous==1.1.0
Jinja2==2.11.2
keyutils==0.6
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
selenium==3.141.0
setproctitle==1.2.2
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.22
team==1.0
toml==0.10.2
typing-extensions==3.7.4.3
udiskie==2.3.3
urllib3==1.26.4
virtualenv==20.3.1
virtualfish==2.5.1
webencodings==0.5.1
Werkzeug==1.0.1
yarl==1.6.3
