{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/bucket.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap" rel="stylesheet">

</head>
<body>
    <div >
      <!-- <h1>{{bucket.user_id}} , {{bucket.product_id}}!</h1> -->
      <h1> username:  {{user.username}}</h1>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="column">
        <div class="card">
              <!-- TODO: add specific image of the order in the card-->
              <button class="close-button" id="submit" onclick="remove_item({{product.id}});">X</button>
              <img class="round-img" src="static/images/Product.jpg" alt="2" style="height: auto; width: 100%;">
              <p>product id: {{ product.id }}</p>
              <p>product size: {{ product.size.value }}</p>
              <p>product color: {{ product.color.value }}</p>
              <!-- <button style="display: inline-block;" id="submit" onclick="remove_item({{product.id}});">X</button> -->
        </div>
      </div>
      {% endfor %}
    </div>
    <script>
    function remove_item(product_id) {
      console.log(product_id)

      var entry = {
        product_id: product_id
       }
       console.log(entry)
      fetch(`${window.origin}/remove_item`, {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(entry),
        cache: "no-cache",
        headers: new Headers({
          "content-type": "application/json"
        })
      })
        .then(function (response) {
          if (response.status !== 200) {
            console.log(`Looks like there was a problem. Status code: ${response.status}`);
            return;
          }
          response.json().then(function (data) {
            console.log(data);
            location.reload();
          });
        })
        .catch(function (error) {
          console.log("Fetch error: " + error);
        });

    }

    </script>
</body>
</html>
{% endblock %}
