{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<body>

      <div class="row">
        {% for product in products %}
        <div class="column">
          <div id="{{product.id}}" class="card" onclick="showMsg(this)">
                <!-- TODO: add specific image of the order in the card-->
                <img src="static/images/Product.jpg" alt="2" style="height: auto; width: 100%; border-radius: 8px;">
                <p>product id: {{ product.id }}</p>
                <p>product size: {{ product.size.value }}</p>
                <p>product color: {{ product.color.value }}</p>
                <p>product band_id: {{ product.band_id.value }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

    <footer class="container-fluid text-center" style="color: black;">
        <p>Footer Text</p>
    </footer>
    <script type="application/javascript">
        function showMsg(item) {
          console.log(item);
          var element = document.getElementById(item.id);
          console.log(item.id);
          console.log(element);
          window.location = '/product?product_id=' + item.id;
        }
    </script>


</body>

</html>

{% endblock %}
